<mat-card class="card mat-elevation-z5">
  <h2 class="textCenter">{{folder.name}}</h2>
  <div fxLayoutAlign="center center" fxLayout="row">
    <a *ngIf="!folder.valid" href="{{'/edit/' + folder.getFormatedName()}}"
       mat-raised-button color="warn" class="invalid mat-elevation-z2">Compléter</a>
    <a *ngIf="folder.valid" href="{{'/edit/' + folder.getFormatedName()}}" mat-raised-button class="mat-elevation-z2 valid">Consulter</a>
    <a (click)="onDelete(folder)" mat-raised-button fxFlex="10" class="thrash mat-elevation-z2" fxLayout="row" fxLayoutAlign="center center"><mat-icon>delete</mat-icon></a>
  </div>
</mat-card>
