.invalid{
  margin-right 4px;
}

.valid{
  margin-right 4px;
  background-color: darken(lightgreen, 23%)
  color white;
}

.textCenter{
  text-align center
}

.card{
  flex-grow: 0;
  flex-shrink: 0;
}

.thrash{
  border solid 1px lighten(red, 20%);
  color lighten(red, 20%);
  width:30px !important;
  height:36px !important;
  font-size:30px !important;
  min-width: unset!important;
}

