.listContainer{
  margin: 0 2vw;
}

.invalid{
  color: darkred;
  border: 1px solid darkred
}
.valid{
  color: darkgreen;
  border: 1px solid darkgreen
}

.textCenter{
  text-align center
}

.card{
  flex-grow: 0;
  flex-shrink: 0;}

.createLink{
  text-decoration none
}
