<h3>Liste des dossiers</h3>

<mat-grid-list cols="4" rowHeight="2:1" gutterSize="3px">
  <mat-grid-tile *ngFor="let folder of folders">
    <mat-card>
      <h2 class="textCenter">{{folder.name}}</h2>
      <a *ngIf="!folder.valid" href="{{'/edit/' + folder.getFormatedName()}}" class="invalid" mat-button>Compléter</a>
      <a *ngIf="folder.valid" href="{{'/edit/' + folder.getFormatedName()}}" class="valid" mat-button>Consulter</a>
      <a (click)="onDelete(folder)" class="valid" mat-button>Supprimer</a>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
