.flexParentCenter{
  display flex
  justify-content center
}

.flexParent{
  display flex
  margin-bottom 15px;
  justify-content space-around
}

.flexExpand{
  flex: 1;
}

.imageContainer{
  max-width 20%
}

.image{
  width 100%
  max-width 200px
}

.titleText{
  font-size 1.3em;
}

.linkText{
  font-size 1.3em;
}

