<mat-toolbar color="primary" fxLayout="row wrap" class="toolbar mat-typography mat-elevation-z5 toolbar" fxLayoutGap="15px">
  <div class="imageContainer">
    <a [routerLink]="'/list'"><img class="image" src="/assets/logo_IBC.png"></a>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="2vw" fxFlex fxLayoutAlign="center" fxLayoutAlign.xs="flex-start center" fxLayout.xs="column">
    <a [routerLink]="'/list'" mat-raised-button color="accent" class="linkText">Liste des dossiers</a>
    <a [routerLink]="'/create'" mat-raised-button color="accent" class="linkText">Créer un dossiers</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
