<form [formGroup]="folderForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="center">
    <!--  <div>-->
    <!--    <label for="name">Nom du client : </label>-->
    <!--    <input type="text" id="name" formControlName="name">-->
    <!--  </div>-->
    <!--  <div *ngIf="folderForm.controls.name.invalid && (folderForm.controls.name.dirty || folderForm.controls.name.touched)" class="card highlight-card card-small">-->
    <!--      Il faut un nom pour le dossier !-->
    <!--  </div>-->
    <div>
      <mat-form-field fxLayoutAlign="center" class="example-full-width" appearance="outline">
        <mat-label>Nom du dossier</mat-label>
        <input type="email" matInput formControlName="name"
               placeholder="Ex. ANTHONY GUZMAN">
        <mat-error
          *ngIf="folderForm.controls.name.invalid && (folderForm.controls.name.dirty || folderForm.controls.name.touched)">
          Il faut un nom pour le dossier
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field fxLayoutAlign="center" class="example-full-width" appearance="outline">
        <mat-label>Mètres carrés</mat-label>
        <input type="number" matInput formControlName="meters">
        <span matSuffix>m²</span>
        <mat-error
          *ngIf="folderForm.controls.meters.invalid && (folderForm.controls.meters.dirty || folderForm.controls.meters.touched)">
          Il faut entrer les mètres carrés
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field fxLayoutAlign="center" class="example-full-width" appearance="outline">
        <mat-label>Mois du dossier</mat-label>
        <input type="number" matInput formControlName="mois" placeholder="1">
        <span matSuffix>{{monthSuffix}}</span>
        <mat-error
          *ngIf="folderForm.controls.mois.invalid && (folderForm.controls.mois.dirty || folderForm.controls.mois.touched)">
          Le mois doit être compris entre 1 et 12
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="checkboxDiv">
        <mat-checkbox id="photos" formControlName="photos">Photos</mat-checkbox>
      </div>
      <div class="checkboxDiv">
        <mat-checkbox id="vt" formControlName="vt">Visite Technique</mat-checkbox>
      </div>
      <div class="checkboxDiv">
        <mat-checkbox id="imposition" formControlName="imposition">Imposition</mat-checkbox>
      </div>
      <div class="checkboxDiv">
        <mat-checkbox id="devis" formControlName="devis">Devis</mat-checkbox>
      </div>
      <div class="checkboxDiv">
        <mat-checkbox id="CGI" formControlName="CGI">CGI</mat-checkbox>
      </div>
      <div class="checkboxDiv">
        <mat-checkbox id="attestation" formControlName="attestation">Attestation sur l'honneur</mat-checkbox>
      </div>
      <div class="checkboxDiv">
        <mat-checkbox id="dateBatigest" formControlName="dateBatigest">Date signature Batigest</mat-checkbox>
      </div>
      <div class="checkboxDiv">
        <mat-checkbox id="cadastre" formControlName="cadastre">Mesures cadastre et infos</mat-checkbox>
      </div>
      <div class="checkboxDiv">
        <mat-checkbox id="controle" formControlName="controle">Mise en contrôle</mat-checkbox>
      </div>
    </div>
    <div>
      <mat-form-field fxLayoutAlign="center" class="example-full-width" appearance="outline">
        <mat-label>Commentaire</mat-label>
        <textarea matInput formControlName="commentaire"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <button class="checkboxDiv" mat-raised-button color="primary"
              [disabled]="folderForm.invalid">{{folderModel ? "Modifier" : "Créer"}}</button>
    </div>
  </div>
</form>
